*{
  margin: 0;
  padding: 0;
  /* list-style: none; */
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  text-align: center;
  box-sizing: border-box;
}
ul li, ol li{
  margin-left: 2rem;

}

h1, h2{
  font-family: 'Caveat', cursive;
}

h1{
  font-size: 3rem;
  text-align: center;
}

h2{
  font-size: 2rem;
  text-align: center;
  font-stretch:extra-expanded;
}
h3{
  font-size: 1.8rem;
  text-align: center;
}
h4{
  font-size: 1.6rem;
}
h5{
  font-size: 1.4rem;
}
h6{
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
}

/* Lists */

table {
  border-collapse: collapse;
  vertical-align: top;
}

table.list {
  width: 100%;
}

table.list tr td {
  border: 1px solid #999999;
}

table.list tr th {
  border: 1px solid #0055DD;
  background: #0055DD;
  color: white;
  text-align: left;
}


/*global styles
---------------------------------------------------------*/
.dark a {
  color: #ebe6e3;
}

.dark a:hover {
  color: #cf9e7f;
}


body {
  overflow-x: hidden;
  width: 100%;
}
.content_wrap{
  max-width: 1300px;
  width: 98%;
  margin: 0 auto;
  padding: 0px 2%;
  z-index: 2;
}

.img-item{
  display: flex;
  padding-top: 80px;
  /* padding: 1rem; */
  /* margin: 2rem; */
  align-items: center;
  flex-direction: column;
}

.img-item img{
  width: 150px;
  /* float: left; */
  vertical-align: middle;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}

.img-item div{
  display: inline-block;
  margin: 0 10px;
  /* margin: 1rem; */
  /* margin: 0 auto; */
  align-items: center;

}

/*DARK BACKGROWND
---------------------------------------------------------*/
.dark{
  color: #ebe6e3;
}

/*FOOTER
---------------------------------------------------------*/
footer{
  background : #17282e;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.social-icons{
  width: 100%;
  max-width: 600px;
  padding: 25px;
  display: flex;
  justify-content: space-around;
}

/* .social-icons a{
  justify-content: space-around;
} */

.icon{
  color: #ebe6e3;
  /* cursor: pointer; */
}
.icon:hover{
  color: #cf9e7f;
}
.location-items{
  max-width: 800px;
}

.location{
  /* padding-left: 20px; */
  padding: 30px 0;
}
.location h6, .location p{
  text-align: left;
}
/*MENU NAV 
---------------------------------------------------------*/
header{
  z-index: 10;
  /* position: fixed; */
  width: 100%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 12vh;
  background : #17282e;
}

.logo img{
  width: 70px;
  padding: 15px 0;
}

.nav-links{
  list-style: none;
  justify-content: space-around;
  position: absolute;
  right: 0px;
  height: 30vh;
  top: 12vh;
  display: flex;
  flex-direction: column;
  background-color: #17282e;
  align-items: center;
  width: 50%;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
} 

.nav-links li a{
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: #ebe6e3;
}
.nav-active{
  
  transform: translateX(0%);
}

.burger{
  cursor: pointer;
}
/* .burger div:hover{
  color: #cf9e7f;
} */

.burger div{
  width:25px;
  height: 3px;
  background-color: #ebe6e3;
  margin: 5px;
  
}

@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);

  }
  to{
    opacity: 1;
    transform:translateX(0px);
  }
}

/*Inicio
---------------------------------------------------------*/
.inicio{
  padding-top: 10vh; 
  background: #17282e;
  color: #ebe6e3;
  width: 100%;
}

/*intro
---------------------------------------------------------*/
.intro{
  background-image: url(../images/chris-brignola-X2CxUXFqKcM-unsplash.jpg);
  background-size: cover;
  background-position: top right;
  color: #17282e;
}
.overlay{
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
}

/*contact
---------------------------------------------------------*/
.contact *{
  font-family: inherit;
  font-size: 100%;
  color: #ebe6e3;
  text-align: left;
  /* color: #17282e; */
  
  /* width: 90%; */
  padding-top: 1rem;
}

.contact div form{
  background-color: #17282e0c;
  display: flex;
  flex-direction: column;
  padding: 1vw 2vw 2vw 2vw;
  max-width: 700px;
  margin: 0 auto;
  /* align-items: center; */
  justify-content: center;
  border-radius: 20px;
}
.contact{
  /* background-color: #ebe6e37e; */
  padding-top: 12vh;
  padding-bottom: 1vh;
  /* color: #17282e; */
  color: #ebe6e3;
  /* margin: 0 auto; */
}

.contact label{
  padding: 1rem 1rem 0 1rem;
  font-size: 1.2rem;
  /* color: #520000; */
  display: block;
  color: #00527e;
}

.contact input, .contact textarea{
  font-size: 1.2rem;
  padding: .8rem 5px .3rem 5px;
  border-radius: 7px;
  width: 100%;
  /* border: #00527e; */
  /* border-width: 1px; */
  /* border-style: solid; */
  background-color: #fffffff8;
  color: #17282e;
  /* background-color: #ebe6e3; */
  /* background-color: #5b91e3; */
}
.contact input[type="radio"]{
  font-size: 5rem;
  width: 1rem;
  display: inline;
  
}
.contact fieldset{
  margin: 1rem 0;
  /* width: 80%; */
  border: #00527e;
  border-width: 1px;
  border-style: solid;
  border-radius: 7px;
}
.contact fieldset legend{
  font-size: 1.2rem;
  padding: 0 1rem;
  color: #00527e;
  /* display: inline; */
}

.contact fieldset label{
  padding: 0 0 0 1rem;
  display: inline;
  color: #00527e;
}

.overlay{
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
}

.contact input[type="submit"]{
  color: #fff;
  background-color: #00527e;
  border: #fff;
  /* display: block; */
  margin: 10px auto;
  text-align: center;
  /* width:fit-content; */
  /* padding: 8px 20px; */
  border-radius: 7px;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.2rem;
  border-width: 1px;
  border-style: solid;
  
}
.contact input[type="submit"]:hover{
  /* color: #fff;
  background-color: #008cda;
  border: #fff; */
  color: #17282e;
  background-color: #fff;
  border: #00527e;
  border-width: 1px;
  border-style: solid;
}

.g-recaptcha-response{
  /* margin: 0 0 0 10; */
  padding: 0;
  margin: -40px 0 40px 0;
  /* margin-bottom: 20px; */
}

 

@media screen and (min-width:1024px){
  
  .sec-items{
    margin-right: 2%;
    /* background-color: gold; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .img-item{
    width: 45%;
    /* background-color: #cf9e7f; */
    
  }

}
@media screen and (min-width:900px){
  .nav-links{
    max-width: 300px;
  }
}
@media screen and (min-width:600px){
  .nav-links{
    position: relative;
    flex-direction: row;
    transform: translateX(0%);
    height: 12vh;
    top: 0;
  }

  .burger{
    display: none;
  }


  .img-item{
    flex-direction: row;
    padding: 3rem 1rem;
    /* padding-top: 600px; */
  }
  .img-item h5, .img-item p{
    text-align: left;
  }

  .location-items{
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
}


@media screen and (min-height:638px){
  header{
    position: fixed;
    
  }
}