

/*header
 -----------------------------------------------------------*/
header{ 
    z-index: 10;
    width: 100%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
    /* overflow-x: hidden; */
  }
.sub-header{
 padding: 4rem 0;
}
.nav-main{/*nav contains logo to left and nav-menu to right*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 12vh;
    /* overflow-x: hidden; */
    
}

.nav-menu{/*ul of navigation links*/
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: flex-start;
    /* position: absolute; */
    position: fixed;
    right: 0px;
    /* height: 30vh; */
    top: 8vh;
    right: -100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    /* transform: translateX(100%); */
    /* transition: transform 1.5s ease-in; */
    transition: .3s;
}
.nav-menu li{
    margin: 1rem auto;
  }
.nav-menu li a{
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-weight: 500;
    /* color: #ebe6e3; */
  }
  .nav-menu.active{
    right: 0;
    /* transform: translateX(0%); */
  }

.burger{
    cursor: pointer;
  }

  
  
  .bar{
    width:25px;
    height: 3px;
    background-color: #ebe6e3;
    margin: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .burger.active .bar:nth-child(2){
    opacity: 0;
  } 
  .burger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  } 
  .burger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  } 
 
  .logo img{
      width: 55px;
      padding: 2px 0;
  }
  /*Footer
 -----------------------------------------------------------*/
 .social-icons{
    width: 100%;
    max-width: 600px;
    padding: 25px;
    display: flex;
    justify-content: space-around;
  }


@media screen and (min-width:600px){
    /* header{
        position: fixed;
      } */
    /* .nav-main{
        height: 12vh;
    } */
    .nav-menu{
        position: relative;
        flex-direction: row;
        /* transform: translateX(0%); */
        right: 0;
        top: 0;
        width: 70%;
    }
    
    .spacer{
        height: 14vh;
    }

    .burger{
        display: none;
    }

    

   
}

@media screen and (min-width:900px){
    .nav-menu{
        width: 60%;
        max-width: 600px;
    }
    footer{
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        /* align-items: ; */
    }
    footer p{
        align-self: center;
        padding-left: 1rem;
    }
    
}

