/* IMAGE ITEMS WITH TEXT
----------------------------------------------------- */
 
a h5{
    color: #c95a00;
}
a:hover h5{
    color: #7EAED9;
  }
.img-item{
    display: flex;
    padding: 1rem 0;
    margin: 0 0 2rem 0;
    align-items: center;
    flex-direction: column;
    transition: all 2s ease-in;
    /* color: #213942; */
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
    background: rgba(255, 255, 255, 0.7);
    max-width: 700px;
  }

.img-item:hover img{
    width: 200;
    opacity: 1;
    vertical-align: middle;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.3);
    
  }

  .img-item img{
    margin-left: 1rem;
    opacity: .8;
    width: 190px;
    vertical-align: middle;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
    transition: all .5s ease-in;
  }

  .img-item div{/*h5 and p*/
    display: inline-block;
    margin: 0 10px;
    max-width: 500px;
    align-items: center;
    text-align: center;
  
  }


/* ICON WIDGET
-------------------------------------------- */
/* .icon-text{
  width: 30%;
} */
.icon-text-items{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  

}
.icon-text{
  width: 90%;
  transition: .3s;
  border-width: 1px;
  border-style: solid;
  border-top-right-radius: 10px;
  padding: 1rem;
}

.icon-title{
  display: flex;
  align-items: center;
  gap: 1rem;
}
/* .icon-text p{
  flex-basis: 100%;
  
} */
.icon{
  width: 35px;
  /* display: inline-block; */
}
/* .icon-text h5{ */
  /* display: inline-block; */
  /* align-self: center; */
/* } */
a .icon-fill-area{
  fill: #c95a00;
}
a:hover .icon-fill-area{
  fill: #7EAED9;
}


/* ICON LIST
-------------------------------------------- */
.icon-list{
  display: flex;
  /* grid-template-columns: 50% 50%; */
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  /* text-align: center;  */
  /* align-content: center; */
  flex-direction: column;
  justify-content: space-around;
}
.icon-list-item{
  display: flex;
  align-items: center;
  gap: .5rem;
  border: 2px solid #003975;
  padding: .2rem .5rem;
  border-style: inset;
  width: 90%;
  
}
.icon-list-item .icon{
  width: 25px;
  color: #003975;
}
.icon-list-item h6{
  color: #003975;
  font-weight: 600;
}

@media screen and (min-width:600px){
    .img-item{
        flex-direction: row;
    }
    .img-item div{/*h5 and p*/
        text-align: left;
      
      }
    .icon-list{
      flex-direction: row;
    }
    .icon-list-item{
      width: 48%;
    }

  /* .icon-text-items{
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    align-content: center;
    
  }
  .icon-text{
    width: 30%;
  } */
}

@media screen and (min-width:900px){
  

.icon-text-items{
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  align-content: center;
  
}
.icon-text{
  width: 30%;
}
}

@media screen and (min-width:1020px){
  

  .icon-list-item{
    width: 30%;
  }
  }