*{
  margin: 0;
  padding: 0; 
  /* list-style: none; */
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  text-align: center;
  box-sizing: border-box;
}
a{
  color: #690000;
  margin: 10px auto;
  font-weight: 600;
  width: 100%;
  letter-spacing: .5px;
  text-decoration: underline;
}
a:hover{
  color: #d33b3b;
}

ul li, ol li{
  margin-left: 2rem;

}

h1, h2{
  font-family: 'Caveat', cursive;
}

h1{
  font-size: 3rem;
  text-align: center;
}

h2{
  font-size: 2rem;
  text-align: center;
  font-stretch:extra-expanded;
}
h3{
  font-size: 1.8rem;
  text-align: center;
}
h4{
  font-size: 1.6rem;
}
h5{
  font-size: 1.4rem;
}
h6{
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
}
/* Lists */


/*
table.list {
  width: 100%;
}

table.list tr td {
  border: 1px solid #999999;
  padding: 2rem 1rem;
}

table.list tr th {
  border: 1px solid #00527e;
  background: #00527e;
  color: white;
}
*/



/*global styles
---------------------------------------------------------*/
.dark a {
  color: #ebe6e3;
  text-decoration: none;
}

.dark a:hover {
  color: #cf9e7f;
}


body {
  overflow-x: hidden;
  width: 100%;
}
.content_wrap{
  max-width: 1300px;
  width: 98%;
  margin: 0 auto;
  padding: 0px 2%;
  z-index: 2;
}

.img-item{
  display: flex;
  padding-top: 80px;
  /* padding: 1rem; */
  /* margin: 2rem; */
  align-items: center;
  flex-direction: column;
}

.img-item img{
  width: 150px;
  /* float: left; */
  vertical-align: middle;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}

.img-item div{
  display: inline-block;
  margin: 0 10px;
  /* margin: 1rem; */
  /* margin: 0 auto; */
  align-items: center;

}

/*TABLE 
----------------------------------------------------------*/
table {
  border-collapse: collapse;
  vertical-align: top;
}

table tr td{ /*TABLE NORMAL CELL*/
  border: 1px solid #999999;
  /* padding: 2rem 1rem; */
  text-align: left;
  
}

table tr th { /*TABLE TITLE CELL*/
  border: 1px solid #00527e;
  background: #00527e;
  color: white;
  text-align: left;
}
/*FORM ITEMS
---------------------------------------------------------*/
form *{
  text-align: left;
  width: 100%;
}
.form-box{ /*main form container*/
  background-color: #ececec;
  padding: 2rem .5rem;
  width: 98%;
  margin: 1rem auto;
  border-radius: 20px;
  max-width: 700px;
  
}
.g-recaptcha{
  padding-bottom: 10px;
}
/* .form-elements-box{
  width: ;
} */


input, textarea {
  /* text-align: left; */
  padding: .3rem .1rem .1rem .3rem;
  border-style: none;
  font-size: 1rem;
  display: block;
  margin-bottom: 10px;
  font-size: 1.3rem;
}

input:focus, textarea:focus{
  outline: none;
  box-shadow: 0 0 5px green;
}

select{
  width: 100%;
  /* text-align: left; */
}
label{  
  font-weight: 600;
  color: #00527e;
  width: auto;
  /* text-align: left; */
}

input[type="submit"]{
  cursor: pointer;
  background-color: #00527e;
  text-align: center;
  color: #fff;
  border: 3px solid #00527e;
}
input[type="submit"]:hover{
  background-color: #fff;
  color: #00527e;
  /* border-color: #00527e; */
}
input[type="submit"]:focus{
  box-shadow: none;
  background-color: rgb(224, 224, 224);
}

input[type="radio"]{
  width: auto;
  margin-right: .3rem;
}

fieldset{
  margin: 1rem 0;
  border: #00527e;
  border-width: 1px;
  border-style: solid;
  border-radius: 7px;
  display: flex;
  justify-content: space-around;
}
fieldset legend{
  color: #00527e;
  font-weight: 600;
  width: auto;
  margin: 0 auto;
  padding: 0 1rem;
}

fieldset label{
  padding: 0;
  display: inline;
  font-weight: 400;
  width: auto;

}

fieldset input{
  display: inline;
}


.form-status p{
  color: green;
}
.form-status pre{
  color: red;
}

/*DARK BACKGROWND
---------------------------------------------------------*/
.dark{
  color: #ebe6e3;
}

/*FOOTER
---------------------------------------------------------*/
footer{
  /* position: fixed;
  bottom: 0;
  width: 100%; */
  background : #17282e;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.social-icons{
  width: 100%;
  max-width: 600px;
  padding: 25px;
  display: flex;
  justify-content: space-around;
}

/* .social-icons a{
  justify-content: space-around;
} */

.icon{
  color: #ebe6e3;
  /* cursor: pointer; */
}
.icon:hover{
  color: #cf9e7f;
}
.location-items{
  max-width: 800px;
}

.location{
  /* padding-left: 20px; */
  padding: 30px 0;
}
.location h6, .location p{
  text-align: left;
}
/*MENU NAV 
---------------------------------------------------------*/
header{
  z-index: 10;
  /* position: fixed; */
  width: 100%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
  position: fixed;
}
.content{
  padding-top:8vh;
  /* min-height: 1200px; */
}
.nav-main{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background : #17282e;
}

.logo img{
  width: 55px;
  padding: 2px 0;
}

.nav-links{
  list-style: none;
  justify-content: space-around;
  position: absolute;
  right: 0px;
  height: 30vh;
  top: 8vh;
  display: flex;
  flex-direction: column;
  background-color: #17282e;
  align-items: center;
  width: 50%;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
} 

.nav-links li a{
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: 500;
  /* color: #ebe6e3; */
}
.nav-active{
  
  transform: translateX(0%);
}

.burger{
  cursor: pointer;
}
/* .burger div:hover{
  color: #cf9e7f;
} */

.burger div{
  width:25px;
  height: 3px;
  background-color: #ebe6e3;
  margin: 5px;
  
}

/* LIST FORM ITEM COMBINATION
-------------------------------------------------------*/
.list-filters{
    display: flex;
    flex-direction: column;
}

.filters{
  display: flex;
  justify-content: center;
}



/*Inicio
---------------------------------------------------------*/
.inicio{
  /* padding-top: 12vh; */
  background: #17282e;
  color: #ebe6e3;
  width: 100%;
}

/*intro
---------------------------------------------------------*/
.intro{
  background-image: url(../images/chris-brignola-X2CxUXFqKcM-unsplash.jpg);
  background-size: cover;
  background-position: top right;
  color: #17282e;
}
.overlay{
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
}



.overlay{
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
}



.tradShow{
  background-color: #cf9e7f;
}

.db-details{
  height: 1200px;
  width: 45%;
  border: #17282e;
  border-width: 1px;
  border-style: solid;
}


/*1024 - Desctop - Max Screen Size
---------------------------------------------------------------------------*/
/* @media screen and (min-width:1100px){
  .sub-nav{
    width: 5%;
    background-color: #999999;
    flex-grow: 0;
  }
} */
@media screen and (min-width:1024px){

  .sec-items{
    margin-right: 2%;
    /* background-color: gold; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .img-item{
    width: 45%;
    /* background-color: #cf9e7f; */
    
  }
  .logo img{
    padding: 15px 0;
  }
 
  
  /* .nav-main{
    min-height: 12vh;
  } */

  

  .nav-links{
    top: 12vh;
  }
  .sub-nav{
    width: 15%;
    max-width: 220px;
  
  }

  
  


}
@media screen and (min-width:900px){
  .nav-links{
    max-width: 300px;
  }
  .sub-nav{
    width: 21%;
    min-height: 1200px;
  }

  .sub-nav form{
    align-items: flex-start;
    position: fixed;
    max-width: 220px;
  }
  
  .filters{
    flex-direction: column;
    /* justify-content: left; */
  }

  .list-filters .db-list{
    flex-grow: 1;
    padding-top: 12vh;
  }
  .list-filters{
    flex-direction: row;
  }
  
  
  
}
@media screen and (min-width:600px){
  .nav-links{
    position: relative;
    flex-direction: row;
    transform: translateX(0%);
    height: 12vh;
    top: 0;
  }

  .nav-main{
    min-height: 12vh;
  }

  .content{
    padding-top:12vh;
  }

  .burger{
    display: none;
  }


  .img-item{
    flex-direction: row;
    padding: 3rem 1rem;
    /* padding-top: 600px; */
  }
  .img-item h5, .img-item p{
    text-align: left;
  }

  .location-items{
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .form-box{
    width: 90%;
    padding: 2rem 2rem;
  }
  
}


/* @media screen and (min-height:638px){ */
  
/* } */