.nav-main{
    background-color: #000;
}

.nav-links{
    background-color: #000;
  } 

footer{
background-color: #000;
} 

.inicio{
    background: #000;
  }

header{
  box-shadow: 0px 3px 6px rgba(255, 255, 255, 0.2);
}
  